@model IEnumerable<QLBanSach.Models.NHACUNGCAP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenncc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdtncc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenncc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdtncc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mancc }) |
            @Html.ActionLink("Details", "Details", new { id=item.mancc }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mancc })
        </td>
    </tr>
}

</table>
