@model QuanLyBanSach.Models.BAOCAOTONG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin báo cáo của  ngày : @Html.DisplayFor(model => model.ngay) </h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tongthu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongthu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongchi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongchi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chenhlech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chenhlech)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delflag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delflag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timedel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timedel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ngay }) |
    @Html.ActionLink("Trở về", "Index")
</p>
