@using PagedList;
@using PagedList.Mvc;

@model IPagedList<QuanLyBanSach.Models.BAOCAOTONG>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;">Thông tin báo cáo</h2> <hr />

<button class="btn-default" style="color:white;">
    @Html.ActionLink("Tạo mới", "Create")
</button>
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-th"></i></span>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().tongthu)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().tongchi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().chenhlech)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().delflag)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().timedel)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tongthu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tongchi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.chenhlech)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.delflag)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.timedel)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ngay }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ngay }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ngay })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>