@model QuanLyBanSach.Models.CT_HOADON

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CT_HOADON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HOADON.manv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOADON.manv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SACH.tensach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SACH.tensach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluongban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluongban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thanhtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanhtien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delflag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delflag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timedel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timedel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
