@model QLBanSach.Models.KHACHHANG

@{
    ViewBag.Title = "Login";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Images/icon.ico" type="image/x-icon">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", id = "exampleInputEmail1", type = "email", placeholder = "Enter email" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                                @Html.EditorFor(model => model.matkhaukh, new{htmlAttributes = new{ @class = "form-control", id = "exampleInputPassword1", type = "password", placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.matkhaukh, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox"> Remember Password
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Login" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="d-block small mt-3" href="register.html">Register an Account</a>
                            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                        </div>

                }
            </div>
        </div>
    </div>
</body>
