@model QLBanSach.Models.BAOCAOTONG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div style="padding-left:50px; padding-top:80px; margin-bottom:20px;">
    <h3>Xóa thông tin báo cáo tổng ngày @Model.ngay </h3><hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tongthu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongthu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongchi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongchi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chenhlech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chenhlech)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delflag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delflag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timedel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timedel)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
