@model QLBanSach.Models.BAOCAOTONG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BAOCAOTONG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tongthu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongthu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongchi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongchi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chenhlech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chenhlech)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delflag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delflag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timedel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timedel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ngay }) |
    @Html.ActionLink("Back to List", "Index")
</p>
