@model QLBanSach.Models.SACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_layoutHomePage.cshtml";
}

<div class="col-lg-9">
    <div class="card mt-4">
        <img style="width:550px;padding-left:320px;" src="~/Images/@Model.anhbia" alt="">
        <div class="card-body">
            <h3 class="card-title">@Html.DisplayFor(model => model.tensach)</h3>
            <h4>@Html.DisplayFor(model => model.dongiaban)</h4>
            <p class="card-text">@Html.DisplayFor(model => model.mota)</p>
            <p class="card-text">Lượt mua : @Html.DisplayFor(model => model.luotmua)</p>
            <p class="card-text">Khuyến mãi : @Html.DisplayFor(model => model.khuyenmai)</p>
            <p class="card-text">Tình trạng : @Html.DisplayFor(model => model.tinhtrang)</p>
            <p class="card-text">Nhà xuất bản : @Html.DisplayFor(model => model.nhaxuatban)</p>
            <p class="card-text">Tác giả : @Html.DisplayFor(model => model.tacgia)</p>
            <p class="card-text">Ngày xuất bản : @Html.DisplayFor(model => model.ngayxuatban)</p>
            <p class="card-text">Lượt mua : @Html.DisplayFor(model => model.luotmua)</p>
            <p class="card-text">Số lượng tồn : @Html.DisplayFor(model => model.soluongton)</p>
            <p class="card-text">Delflag : @Html.DisplayFor(model => model.delflag)</p>
            <p class="card-text">Timedel : @Html.DisplayFor(model => model.timedel)</p>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.masach }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>

