@model IEnumerable<QuanLyBanSach.Models.DATHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KHACHHANG.tenkh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaydat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaygiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tongdonhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tinhtrang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KHACHHANG.tenkh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaydat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaygiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tongdonhang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tinhtrang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.madathang }) |
            @Html.ActionLink("Details", "Details", new { id=item.madathang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.madathang })
        </td>
    </tr>
}

</table>
