@model QLBanSach.Models.THELOAI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div style="padding-left:50px; padding-top:80px; margin-bottom:20px;">
    <h4>Thông tin thể loại @Model.matheloai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tentheloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tentheloai)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.matheloai }) |
        @Html.ActionLink("Trở về", "Index")
    </p>
</div>

