@model QuanLyBanSach.Models.CT_PHIEUNHAP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CT_PHIEUNHAP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PHIEUNHAP.manv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEUNHAP.manv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SACH.tensach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SACH.tensach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gianhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gianhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thanhtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanhtien)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
