@model QLBanSach.Models.KHACHHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div style="padding-left:50px; padding-top:80px; margin-bottom:20px;">
    <h4>Thông tin khách hàng @Model.tenkh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenkh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenkh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sodienthoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sodienthoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matkhaukh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matkhaukh)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.makh }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
