@using PagedList;
@using PagedList.Mvc;

@model IPagedList<QuanLyBanSach.Models.HOADON>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách hóa đơn</h2> <hr />


<p>
    @Html.ActionLink("Thêm", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().KHACHHANG.tenkh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NHANVIEN.tennv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ngaylap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().tonghoadon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KHACHHANG.tenkh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHANVIEN.tennv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaylap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tonghoadon)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.mahoadon }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.mahoadon }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.mahoadon })
        </td>
    </tr>
}

</table>
<div class="pagination" style="display:inline ; text-align:right;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.PageNumbersOnly)
</div>