@model QLBanSach.Models.HOADON

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div style="padding-left:50px; padding-top:80px; margin-bottom:20px;">
    <h4>Thông tin hóa đơn @Model.ngaylap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngaylap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaylap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tonghoadon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tonghoadon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.tenkh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.tenkh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIEN.tennv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.tennv)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.mahoadon }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

