@model IEnumerable<QLBanSach.Models.HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.manv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaylap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tonghoadon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.manv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaylap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tonghoadon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mahoadon }) |
            @Html.ActionLink("Details", "Details", new { id=item.mahoadon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mahoadon })
        </td>
    </tr>
}

</table>
