@model QuanLyBanSach.Models.NHACUNGCAP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Thông tin của @Html.DisplayFor(model => model.tenncc) </h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenncc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenncc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdtncc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdtncc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.mancc }) |
    @Html.ActionLink("Trở về", "Index")
</p>
