@using PagedList;
@using PagedList.Mvc;

@model IPagedList<QuanLyBanSach.Models.NHACUNGCAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nhà cung cấp</h2>

<p>
    @Html.ActionLink("Thêm", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().tenncc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().sdtncc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenncc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdtncc)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.mancc }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.mancc }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.mancc })
        </td>
    </tr>
}

</table>
<div class="pagination" style="display:inline ; text-align:right;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.PageNumbersOnly)
</div>
