@model QLBanSach.Models.CT_HOADON

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div style="padding-left:50px; padding-top:80px; margin-bottom:20px;">
    <h4>Thông tin chi tiết hóa đơn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.timedel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timedel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOADON.manv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOADON.manv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SACH.tensach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SACH.tensach)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { /* id = Model.PrimaryKey */  }) |
        @Html.ActionLink("Trở về", "Index")
    </p>
</div>
